@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}
* {
  box-sizing: border-box;
}
a,
button {
  transition: 0.3s;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
p {
  color: hsl(229, 8%, 60%);
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.mobil-link {
  display: none;
}
.nav-linkler {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-linkler li {
  padding-right: 50px;
}
.nav-linkler a {
  color: hsl(229, 31%, 21%);
  letter-spacing: 1px;
}
.nav-linkler a:hover {
  color: hsl(0, 94%, 66%);
}
.nav-linkler button {
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 42px;
  letter-spacing: 1px;
  border: 3px solid hsl(0, 94%, 66%);
}
.nav-linkler button:hover {
  cursor: pointer;
  border: 3px solid hsl(0, 94%, 66%);
  background-color: #fff;
  color: hsl(0, 94%, 66%);
}
/* MOBILE MENU & ANIMATION */
.menu-toggle {
  display: none;
}
.menu-toggle .line {
  width: 25px;
  height: 3px;
  display: block;
  background-color: black;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
.menu-toggle:hover {
  cursor: pointer;
}
#mobile-menu.is-active .line:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.section-one {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 200px;
  padding-bottom: 50px;
}
.section-one-left {
  width: 60%;
  padding-left: 100px;
  z-index: 2;
}
.section-one-left h1 {
  color: hsl(229, 31%, 21%);
}
.section-one-left p {
  width: 50%;
  padding-bottom: 10px;
}
.section-one-left-btn {
  display: flex;
}
.pad-div {
  padding-right: 15px;
}
.section-one-left .blue-btn {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 18px 30px;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
}
.section-one-left .blue-btn:hover {
  background-color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  cursor: pointer;
}
.section-one-left .gray-btn {
  background-color: #f7f7f5;
  color: hsl(229, 31%, 21%);
  border: 3px solid #f7f7f5;
  border-radius: 5px;
  padding: 18px 30px;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
}
.section-one-left .gray-btn:hover {
  background-color: #fff;
  border: 3px solid hsl(229, 31%, 21%);
  color: hsl(229, 31%, 21%);
  cursor: pointer;
}
.section-one-right {
  background: hsl(231, 69%, 60%);
  border-bottom-left-radius: 200px;
  width: 40%;
}
.section-one-right .relative-foto {
  position: relative;
  top: -22%;
  left: -35%;
}
.section-one-right img {
  width: 100%;
  height: 100%;
}
.slider-info {
  width: 30%;
  text-align: center;
  margin: auto;
}
/*TAB*/
.tabs {
  width: 100%;
  padding-top: 50px;
  height: 800px;
  position: relative;
}
.tabs .tab-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}
.tabs .tab-header > div {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 30px;
  color: hsl(229, 8%, 60%);
  cursor: pointer;
}
.tabs .tab-header > div:hover {
  color: hsl(0, 94%, 66%);
}
.tabs .tab-header > div.active {
  border-bottom: 3px solid hsl(0, 94%, 66%);
  color: black;
}
.tabs .tab-body .tab-one {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tabs .tab-body .tab-one .tab-one-left {
  background: hsl(231, 69%, 60%);
  border-bottom-right-radius: 200px;
  width: 40%;
}
.tabs .tab-body .tab-one .duzen-one {
  position: relative;
  top: -20%;
  left: 40%;
}
.tabs .tab-body .tab-one .duzen-two {
  top: -20%;
  left: 50%;
}
.tabs .tab-body .tab-one .duzen-three {
  top: -25%;
  left: 50%;
}
.tab-info {
  width: 45%;
  padding-left: 250px;
}
.tab-info p {
  padding-bottom: 20px;
}
.tab-info button {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 18px 30px;
  font-weight: 400;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
}
.tab-info button:hover {
  background-color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  cursor: pointer;
}
.tabs .tab-body {
  position: relative;
  height: calc(100% - 50px);
  width: 100%;
}
.tabs .tab-body > div {
  position: absolute;
  opacity: 0;
  top: -100%;
  transform: translateY(-10px);
}
.tabs .tab-body > div.active {
  top: 30px;
  opacity: 1;
}
.scanners {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  padding-bottom: 100px;
  margin: auto;
  height: 600px;
}
@media screen and (min-width: 1367px) {
  .scanners {
    width: 55%;
  }
}
.sc-container {
  text-align: center;
  box-shadow: 0px 10px 13px 1px rgba(219, 219, 219, 1);
  padding: 50px 0;
  border-radius: 15px;
}
.sc-btn {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 18px 20px;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
}
.sc-btn:hover {
  background-color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  cursor: pointer;
}
.dot-img {
  padding-bottom: 15px;
}
.firefox {
  margin-top: 50px;
}
.opera {
  margin-top: 100px;
}
.accordion-menu {
  width: 35%;
  margin: auto;
  padding-top: 50px;
}
.accordion {
  background-color: transparent;
  background-image: url("images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-top: 1px solid #ccc;
  outline: none;
}
.accordion:hover {
  color: hsl(0, 94%, 66%);
}
.last-acc {
  border-bottom: 1px solid #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.acc-btn {
  padding-top: 50px;
}
.acc-btn button {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 18px 30px;
  font-weight: 400;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
  display: block;
  margin: auto;
}
.acc-btn button:hover {
  background-color: #fff;
  border: 3px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  cursor: pointer;
}
.contact {
  padding-top: 100px;
}
.contact-container {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  text-align: center;
  width: 100%;
}
.contact-container .mail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-container .mail .mail-btn {
  padding-left: 15px;
}
.contact-container button {
  background-color: hsl(0, 94%, 66%);
  color: #fff;
  border: 3px solid hsl(0, 94%, 66%);
  border-radius: 5px;
  padding: 9px 25px;
  letter-spacing: 1px;
}
.contact-container button:hover {
  cursor: pointer;
  border: 3px solid hsl(0, 94%, 66%);
  background-color: #fff;
  color: hsl(0, 94%, 66%);
}
.contact-container input {
  padding: 15px;
  width: 25%;
  border-radius: 5px;
  border: none;
}
.contact-container input:focus {
  outline: 0;
}
.contact-container .mail {
  padding-bottom: 100px;
}
.contact h3 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 5px;
  padding-top: 50px;
}
.contact h2 {
  font-weight: 500;
  width: 25%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}
.footer ul {
  padding-left: 100px;
}
.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-right {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-right a {
  padding-right: 25px;
}
@media only screen and (max-width: 1270px) {
  p {
    font-size: 16px;
    line-height: 25px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  button {
    font-size: 12px;
  }
  .nav-container {
    width: 100%;
    z-index: 3;
    position: relative;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 50px;
    background-color: #2f354f;
    opacity: 96%;
    width: 100%;
    border-radius: 15px;
    height: calc(120vh - 100px);
    transform: translateY(120%);
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
    text-transform: uppercase;
    padding-inline-start: 0;
  }
  .mobil-link {
    display: block;
    margin-top: 100px;
  }
  .mobil-link a:last-child {
    padding-left: 15px;
  }
  .nav-linkler button {
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 12px 120px;
    letter-spacing: 3px;
    margin-top: 50px;
  }
  .nav-linkler button:hover {
    border: 2px solid black;
    background-color: #fff;
    color: black;
  }
  .nav-linkler li {
    padding-right: 0;
    margin-top: 50px;
  }
  .nav-item a {
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
  }
  .nav-item a:hover {
    color: black;
  }
  .menu-toggle,
  .line {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
  .navbar {
    justify-content: space-around;
  }
  .navbar .logo img {
    width: 95%;
    padding-right: 100px;
  }
  .section-one {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 50px;
  }
  .section-one-right {
    width: 100%;
    border-top-left-radius: 200px;
    position: relative;
  }
  .section-one-right img {
    width: 100%;
  }
  .section-one-right .relative-foto {
    position: relative;
    left: 0%;
  }
  .section-one-left {
    width: 90%;
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
  }
  .section-one-left p {
    margin: auto;
    width: 90%;
  }
  .section-one-left .section-one-left-btn {
    display: flex;
    justify-content: center;
  }
  .section-one-left .blue-btn {
    padding: 16px 22px;
  }
  .section-one-left .gray-btn {
    padding: 16px 22px;
  }
  .pad-div {
    padding-left: 5px;
    padding-right: 5px;
  }
  .slider-info {
    width: 80%;
  }
  .tabs .tab-header {
    flex-direction: column;
    width: 100%;
    padding-bottom: 0px;
  }
  .tabs .tab-body .tab-one .tab-one-left {
    width: 70%;
  }
  .tabs .tab-body .tab-one {
    flex-direction: column;
  }
  .tab-info {
    width: 90%;
    padding-left: 0px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
  }
  .tab-info button {
    display: none;
  }
  .tabs .tab-body .tab-one .duzen-one {
    width: 90%;
    height: 100%;
    left: 30%;
  }
  .sc-btn {
    padding: 18px 53px;
  }
  .sc-pad {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .accordion-menu {
    width: 90%;
  }
  .accordion-menu button {
    font-size: 15px;
  }
  .contact h2 {
    width: 90%;
  }
  .contact h3 {
    font-size: 12px;
    width: 75%;
    margin: auto;
  }
  .contact-container input {
    padding: 15px;
    width: 85%;
    text-align: center;
  }
  .contact-container .mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
  }
  .mail-btn {
    padding-top: 15px;
  }
  .contact-container .mail .mail-btn {
    padding-left: 0px;
  }
  .contact-container button {
    padding: 12.5px 119.5px;
  }
  .scanners {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .firefox {
    margin-top: 0;
  }
  .opera {
    margin-top: 0;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer ul {
    padding-left: 0px;
  }
  .footer .nav-linkler li {
    margin-top: 30px;
  }
  .footer .nav-linkler a {
    color: hsl(229, 8%, 60%);
  }
  .footer-left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-right {
    padding-top: 5px;
  }
  .footer .nav-linkler-responsive {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-right a:nth-child(2) {
    padding-right: 0px;
  }
  .footer .nav-item a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 321px) {
  .section-one {
    padding-top: 20px;
  }
  .section-one-left h1 {
    font-size: 19px;
  }
  .contact-container button {
    padding: 12.5px 95px;
  }
}
